/* ----------------------------------main.html----------------------------------- */

/* ------------------二级导航------------------ */
.subnav {
	width: 1100px; 
	margin: 60px auto;
	font-size: 17px;
}

.subnav div {
	margin: 5px 0;
}

.subnav .border {
	border-bottom: 1px solid #eee;
	margin: 0 0 9px;
	padding-bottom: 10px;
}

.subnav span {
	color: #999;
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	margin: 3px 0;
}

.subnav ul {
	float: left;
	width: 1000px;
}

.subnav li {
	display: inline-block;
	margin: 3px 0;
}

.subnav a {
	display: inline-block;
	padding: 0 10px;
	color: #5757a0;
}

.subnav .active {
	background-color: rgba(10, 50, 232, 0.46);
	color: white;
	border-radius: 25px;
}

/* ------------------图片形式展示------------------ */
.picture {
	width: 1100px; 
	font-size: 16px;
	margin: auto;
}

.picture div {
	width: 200px;
	height: 400px;
	display: inline-block;
	margin: 0 5px;
}

.picture div > a {
	display: block;
	width: 200px;
	height: 300px;
}

/* .main .item ul li {
	color:	#999;
}

.main li a {未访问的链接
	color:	#999;
}

.main li:first-child a {
	color:	#000000;
}

.main .item_novel {
	width: 900px;
	height: 30px;
	border-bottom: 1px dashed #909090;
	margin: 10px 0;
}

.main .item_novel a{
	font-size: 19px;
	color: rgba(179, 104, 30, 0.83);
}

.main .item_novel a:last-child{
	float: right;
	margin-right: 100px;
} */

/* ------------------分页部分------------------ */
.footer {
	margin: 30px auto;
	text-align: center;
}

.footer button{
	margin: 0 5px;
}

.footer div {
	margin: 0 10px;
	display: inline-block;
}

.footer div a {
	color: black;
}

